.events-wrapper {
    display: block;
}
.events-wrapper h1 {
    margin: 0;
}

.create-button {
    top: 2px;
    left: 2px;
    position: absolute;
    background-color: green;
    font-family: var(--selector-font);
    font-size: 20px;
    font-weight: bold;
}

.events-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 52%;
    margin: auto;
    background-color: var(--height1);
    border-radius: 10px;
    overflow-y: auto;
}

.events-list_pagenav {
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -10px;
    color: #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    font-size: 20px;
}